.main {
  background-color: #f7f7f7; }
  .main .mainTitle {
    margin-top: 22px; }
  .main .mainWrap {
    padding: 22px 0 50px 0; }
    .main .mainWrap > div {
      background-color: #fff;
      -webkit-box-shadow: 0 0 10px rgba(202, 202, 204, 0.4);
      -moz-box-shadow: 0 0 10px rgba(202, 202, 204, 0.4);
      box-shadow: 0 0 10px rgba(202, 202, 204, 0.4); }
    .main .mainWrap .left-1 {
      width: 660px;
      margin-right: 20px;
      padding: 0 10px; }
      .main .mainWrap .left-1 .list:hover {
        background-color: #ecf7ff; }
        .main .mainWrap .left-1 .list:hover .right_1 a {
          color: #0266a9 !important;
          text-decoration: underline; }
      .main .mainWrap .left-1 .list {
        padding: 12px 0;
        border-bottom: 1px solid #f3f3f3; }
        .main .mainWrap .left-1 .list .list-left {
          margin-right: 12px; }
          .main .mainWrap .left-1 .list .list-left img {
            width: 210px; }
        .main .mainWrap .left-1 .list .list-right {
          width: 370px; }
          .main .mainWrap .left-1 .list .list-right .right_1 {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 7.5px;
            margin-top: 6px; }
            .main .mainWrap .left-1 .list .list-right .right_1 a {
              color: #4c4c4c; }
          .main .mainWrap .left-1 .list .list-right .right_2 {
            font-size: 14px;
            color: #999999;
            margin-bottom: 10px; }
            .main .mainWrap .left-1 .list .list-right .right_2 p {
              line-height: 20px;
              text-align: justify; }
          .main .mainWrap .left-1 .list .list-right .right_3 {
            font-size: 12px;
            color: #999999; }
            .main .mainWrap .left-1 .list .list-right .right_3 span {
              margin-right: 15px; }
      .main .mainWrap .left-1 .list_1 {
        padding: 16px 0;
        border-bottom: 1px solid #f3f3f3; }
        .main .mainWrap .left-1 .list_1 .l1-title {
          font-size: 18px;
          color: #4c4c4c;
          font-weight: bold;
          margin-bottom: 11px; }
        .main .mainWrap .left-1 .list_1 .l1-img {
          margin-bottom: 12px; }
          .main .mainWrap .left-1 .list_1 .l1-img > div {
            width: 210px;
            overflow: hidden;
            float: left;
            margin-right: 5px; }
            .main .mainWrap .left-1 .list_1 .l1-img > div img {
              width: 100%; }
          .main .mainWrap .left-1 .list_1 .l1-img > div:last-child {
            margin-right: 0; }
        .main .mainWrap .left-1 .list_1 .l1-detail {
          font-size: 12px;
          color: #999999; }
          .main .mainWrap .left-1 .list_1 .l1-detail span {
            margin-right: 15px; }
    .main .mainWrap .right-1 {
      width: 380px; }
      .main .mainWrap .right-1 .right-title {
        border-bottom: 1px solid #f2f2f2;
        padding: 0 15px;
        padding-top: 12px;
        padding-bottom: 10px; }
        .main .mainWrap .right-1 .right-title .name {
          width: 102px;
          height: 34px;
          background: url("../images/icon01.png") no-repeat center;
          background-size: 100% auto;
          position: relative;
          line-height: 32px;
          margin-right: 7px; }
          .main .mainWrap .right-1 .right-title .name span {
            position: absolute;
            left: 15%;
            font-size: 18px;
            color: #ffffff; }
        .main .mainWrap .right-1 .right-title .detail {
          font-size: 12px;
          color: #999999;
          position: relative;
          margin-top: 15px; }
      .main .mainWrap .right-1 .right-cont {
        font-size: 14px;
        color: #4c4c4c;
        padding: 0 15px; }
        .main .mainWrap .right-1 .right-cont .cont-title {
          color: #999999;
          margin-top: 12px;
          margin-bottom: 10px; }
        .main .mainWrap .right-1 .right-cont .cont-info .info-list {
          margin-bottom: 20px; }
          .main .mainWrap .right-1 .right-cont .cont-info .info-list .list-1 a {
            font-size: 14px;
            color: #4c4c4c; }
          .main .mainWrap .right-1 .right-cont .cont-info .info-list .list-2 {
            font-size: 12px;
            color: #999999; }

/*# sourceMappingURL=articleList.css.map */
