#main{
  .mainTitle{
    margin-top: 22px;
  }
  .main{
    width: 100%;
    min-height: 460px;
    margin: 16px auto 0;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(51,51,51,0.1);
  }
  #map{
    width: 450px;
    height: 336px;
    margin: 47px 22px 75px 45px;
  }
  .msg{
    width: 489px;
    margin: 47px 0px 0px 54px;
    ul li{
      margin-bottom: 30px;
      p{
        font-size: 20px;
        color: #4d4d4d;
        padding-left: 35px;
        background: no-repeat left center;
        background-size: 18px;
      }
    }
    ul li:nth-child(1){
      p{
        background-image: url("../images/dizhi.png");
        background-size: 19px;
      }
    }
    ul li:nth-child(2){
      p{
        background-image: url("../images/chuanzhen.png");
        background-size: 19px;
      }
    }
    ul li:nth-child(3){
      p{
        background-image: url("../images/dianhua.png");
        background-size: 20px;
      }
    }
    ul li:nth-child(4){
      p{
        background-image: url("../images/email.png");
        background-size: 19px;
      }
    }
  }
}
