.loginBoxes{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 50;
  .login{
    position: absolute;
    padding: 60px 50px;
    left: 50%;
    top: 50%;
    margin-left: -230px;
    margin-top: -208px;
    background-color: white;
    .loginOut{
      width: 360px;
      .inputBox{
        width: 100%;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        height: 44px;
        border: 1px solid #e7e7e7;
        input{
          padding:0 18px;
          border: 0;
          height: 42px;
          font-size: 14px;
          width: 100%;
          box-sizing: border-box;
          -webkit-box-sizing: border-box;
        }
        input::placeholder{
          color: #c9c9c9;
        }
        input::-webkit-input-placeholder{
          color: #c9c9c9;
        }
        input::-moz-placeholder{
          color: #c9c9c9;
        }
        inpuy:-ms-input-placeholder{
          color: #c9c9c9;
        }
        button{
          width: 100%;
          height: 100%;
          font-size: 14px;
          background-color: transparent;
          cursor: pointer;
        }

      }
      .now{
        background-color: #006eff;
        border-color: #006eff;
        button{
          color: white;
          font-size: 16px;
        }
      }
      .wxLogin{
        button{
          font-size: 16px;
        }
      }
      .floatl{
        width: 230px;
      }
      .floatr{
        width: 110px;
      }
      .inputBoxOut{
        width: 100%;
        margin-bottom: 20px;
      }
      .inputBoxOut:nth-last-child(1){
        margin-bottom: 0;
      }
      .loginName{
        font-size: 20px;
        color: #323232;
        line-height: 20px;
        margin-bottom: 40px;
        position: relative;
        button{
          width: 14px;
          height: 14px;
          position: absolute;
          right: 0px;
          top: 3px;
          cursor: pointer;
          background: url("../images/closeLogin.png") no-repeat center center;
          background-size: 100% 100%;
        }
      }
    }
    .loginWx{
      .loginName{
        margin-bottom: 0px;
      }
      .wxName{
        text-align: center;
        font-size: 18px;
        color: #323232;
        margin: 10px auto;
      }
      .erCodeBox{
        padding: 11px;
        width: 225px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        border: 1px solid #e7e7e7;
        margin: 0 auto;
        .ercode{
          width: 203px;
          box-sizing: border-box;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          border: 1px solid #e7e7e7;
          img{
            width: 100%;
          }
        }
      }
      .wxp{
        font-size: 14px;
        text-align: center;
        color: #999897;
        margin-top: 10px;
      }
    }
  }

}
#count .login{
  margin-top: -176px;
}
.gudie-news-list-right h3 a{
  color: #4d4d4d;
}
.gudie-news-list li:hover{
  background-color: #ecf7ff;
  a{
    color: #0266a9;
    text-decoration: underline;
  }
}