.loginBoxes {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50; }
  .loginBoxes .login {
    position: absolute;
    padding: 60px 50px;
    left: 50%;
    top: 50%;
    margin-left: -230px;
    margin-top: -208px;
    background-color: white; }
    .loginBoxes .login .loginOut {
      width: 360px; }
      .loginBoxes .login .loginOut .inputBox {
        width: 100%;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        height: 44px;
        border: 1px solid #e7e7e7; }
        .loginBoxes .login .loginOut .inputBox input {
          padding: 0 18px;
          border: 0;
          height: 42px;
          font-size: 14px;
          width: 100%;
          box-sizing: border-box;
          -webkit-box-sizing: border-box; }
        .loginBoxes .login .loginOut .inputBox input::placeholder {
          color: #c9c9c9; }
        .loginBoxes .login .loginOut .inputBox input::-webkit-input-placeholder {
          color: #c9c9c9; }
        .loginBoxes .login .loginOut .inputBox input::-moz-placeholder {
          color: #c9c9c9; }
        .loginBoxes .login .loginOut .inputBox inpuy:-ms-input-placeholder {
          color: #c9c9c9; }
        .loginBoxes .login .loginOut .inputBox button {
          width: 100%;
          height: 100%;
          font-size: 14px;
          background-color: transparent;
          cursor: pointer; }
      .loginBoxes .login .loginOut .now {
        background-color: #006eff;
        border-color: #006eff; }
        .loginBoxes .login .loginOut .now button {
          color: white;
          font-size: 16px; }
      .loginBoxes .login .loginOut .wxLogin button {
        font-size: 16px; }
      .loginBoxes .login .loginOut .floatl {
        width: 230px; }
      .loginBoxes .login .loginOut .floatr {
        width: 110px; }
      .loginBoxes .login .loginOut .inputBoxOut {
        width: 100%;
        margin-bottom: 20px; }
      .loginBoxes .login .loginOut .inputBoxOut:nth-last-child(1) {
        margin-bottom: 0; }
      .loginBoxes .login .loginOut .loginName {
        font-size: 20px;
        color: #323232;
        line-height: 20px;
        margin-bottom: 40px;
        position: relative; }
        .loginBoxes .login .loginOut .loginName button {
          width: 14px;
          height: 14px;
          position: absolute;
          right: 0px;
          top: 3px;
          cursor: pointer;
          background: url("../images/closeLogin.png") no-repeat center center;
          background-size: 100% 100%; }
    .loginBoxes .login .loginWx .loginName {
      margin-bottom: 0px; }
    .loginBoxes .login .loginWx .wxName {
      text-align: center;
      font-size: 18px;
      color: #323232;
      margin: 10px auto; }
    .loginBoxes .login .loginWx .erCodeBox {
      padding: 11px;
      width: 225px;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      border: 1px solid #e7e7e7;
      margin: 0 auto; }
      .loginBoxes .login .loginWx .erCodeBox .ercode {
        width: 203px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        border: 1px solid #e7e7e7; }
        .loginBoxes .login .loginWx .erCodeBox .ercode img {
          width: 100%; }
    .loginBoxes .login .loginWx .wxp {
      font-size: 14px;
      text-align: center;
      color: #999897;
      margin-top: 10px; }

#count .login {
  margin-top: -176px; }

/*# sourceMappingURL=index.css.map */
